arch==5.4.0
chart_studio==1.1.0
keras==2.12.0
lightgbm==3.3.5
matplotlib==3.6.3
numpy==1.24.2
pandas==1.5.3
pandas_profiling==3.6.6
pmdarima==2.0.3
PyYAML==6.0
scikit_learn==1.2.1
scipy==1.10.1
seaborn==0.12.2
statsmodels==0.13.5
tensorflow==2.12.0
xgboost==1.7.5
yfinance==0.2.18
